{% extends 'adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/add_donor1">
  <table width="300" border="1" align="center" id="customers">
    <tr>
      <th scope="row">FIRST NAME</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required pattern="[a-z A-Z]{3,30}"/></td>
    </tr>
    <tr>
      <th scope="row">LAST NAME</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required pattern="[a-z A-Z]{1,30}" /></td>
    </tr>
    <tr>
      <th scope="row">GENDER</th>
      <td>

          <font color="black"> <input type="radio" name="RadioGroup1" value="MALE" id="RadioGroup1_0" checked/>
          MALE</font>
        <br />

          <input type="radio" name="RadioGroup1" value="FEMALE" id="RadioGroup1_1" />
          FEMALE
        <br />

     </td>
    </tr>
    <tr>
      <th scope="row">DATE OF BIRTH</th>
      <td><label for="textfield8"></label>
      <input type="date" name="dat" id="datee" min="1990-01-01" max="2000-12-30" required /></td>
    </tr>
    <tr>
      <th scope="row">PLACE</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" required pattern="[a-z A-Z]{3,30}"/></td>
    </tr>
    <tr>
      <th scope="row">POST</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" required pattern="[a-z A-Z]{3,30}"/></td>
    </tr>
    <tr>
      <th scope="row">PIN</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" required pattern="[0-9]{6}" /></td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></td>
    </tr>
    <tr>
      <th scope="row">PHONE NUMBER</th>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" required pattern="[6789][0-9]{9}" /></td>
    </tr>
      <tr>
      <th scope="row">USER NAME</th>
      <td><label for="textfield9"></label>
      <input type="text" name="textfield8" id="textfield9" required  /></td>
    </tr>
    <tr>
      <th scope="row">PASSWORD</th>
      <td><label for="textfield7"></label>
        <label for="textfield10"></label>
      <input type="password" name="textfield9" id="textfield10" required /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Register" /></th>
    </tr>
  </table>
</form>
<br />

</body>
{% endblock %}