<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<p align="center"><a href="/view_donor">Add & Manage Donors</a>
</p>
<p align="center"><a href="/view_delivery_agent1">View Delivery Agent</a></p>
<p align="center"><a href="/view_user">View user</a></p>
<p align="center"><a href="/view_feedback">View feedback</a></p>
<p align="center"><a href="/view_report">View report</a></p>
<p align="center"><a href="/view_report">View report</a></p>
<p align="center"><a href="/logout">Logout</a></p>

</body>
</html>>
