<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p  align="center"><a href="/donor_view_delivery_agent">Add & Manage Deliver Agent</a>
</p>
<p align="center"><a href="/view_items">Add & Manage Item Details</a></p>
<p align="center"><a href="/view_request">View Request</a></p>
<p align="center"><a href="/view_status">View Status</a></p>
<p align="center"><a href="/add_report">Add & Manage Report</a></p>
<p align="center"><a href="/">Logout</a></p>
</body>
</html>
