{% extends 'donorindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/edit_delivery_agent1">
  <table width="258" border="1" align="center"id="customers">
    <tr>
      <th scope="row">FIRST NAME</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data[2] }}" required pattern="[a-z A-Z]{3,20}"/></td>
    </tr>
    <tr>
      <th scope="row">LAST NAME</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ data[3] }}" required pattern="[a-z A-Z]{1,20}"/></td>
    </tr>
    <tr>
      <th scope="row">GENDER</th>
      <td><p>
        <label>
          <input type="radio" name="ra" value="male" id="RadioGroup1_0" {% if data[4]=="male" %} checked {% endif %}/>
          MALE</label>
        <br />
        <label>
          <input type="radio" name="ra" value="female" id="RadioGroup1_1"{% if data[4]=="female" %} checked {% endif %} />
          FEMALE</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <th scope="row">PLACE</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data[5] }}" required pattern="[a-z A-Z]{3,30}"/></td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" value="{{ data[6] }}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/></td>
    </tr>
    <tr>
      <th scope="row">PHONE NUMBER</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" value="{{ data[7] }}" required pattern="[6789][0-9]{9}"/></td>
    </tr>
  <tr>
      <th scope="row">USERNAME</th>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" value="{{ data1[1] }}" required   /></td>
    </tr>
    <tr>
      <th scope="row">PASSWORD</th>
      <td><label for="textfield5"></label>
        <label for="textfield7"></label>
      <input type="password" name="textfield7" id="textfield7" value="{{ data1[2] }}" required /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="UPDATE" /></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
