{% extends 'donorindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="" action="/add_item_details#about">
  <table width="350" border="1" align="center"id="customers">
    <tr>
      <th scope="col">ITEM NAME</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ i[3] }}&nbsp;</td>
      <td>{{ i[4] }}&nbsp;</td>
      <td><a href="{{ url_for('edit_item_details',id=i[0]) }}">EDIT</a></td>
      <td><a href="{{ url_for('delete_item',id=i[0]) }}" onclick="return confirm('Are you sure')">DELETE</a></td>
    </tr>
      {% endfor %}
  </table>
  <p  align="center">
   <input type="submit" name="button" id="button" value="ADD ITEM DETAILS" />
    </p>
</form>
</body>
{% endblock %}
